flask==1.1.4
flask_sqlalchemy==2.5.1
flask_cors==3.0.10
flask_jwt_extended==3.25.1
python-alipay-sdk==2.1.1
requests==2.26.0
bcrypt==3.2.0
gunicorn==20.1.0
gevent==21.8.0
pymysql==1.0.2
flask_limiter==1.4
psycopg2-binary==2.9.2
#python-telegram-bot
#qrcode
weixin-python==0.5.7
wechat-pay-sdk==0.6.2
Flask-APScheduler==1.12.2
stripe==2.63.0
APScheduler==3.8.1
backports.zoneinfo==0.2.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==7.1.2
cryptography==36.0.0
dicttoxml==1.7.4
greenlet==1.1.2
idna==3.3
itsdangerous==1.1.0
Jinja2==2.11.3
limits==1.5.1
lxml==4.6.4
MarkupSafe==2.0.1
pip==21.2.4
pycparser==2.21
pycryptodomex==3.9.4
PyJWT==1.7.1
pyOpenSSL==19.1.0
python-alipay-sdk==2.1.1
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
setuptools==57.5.0
six==1.16.0
SQLAlchemy==1.4.27
stripe==2.63.0
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.7
Werkzeug==1.0.1
wheel==0.37.0
xmltodict==0.12.0
zope.event==4.5.0
zope.interface==5.4.0